<h1>
  Images for <%= @brand.name.titleize %>
  <%= link_to 'Back', brands_path, class: 'pull-right btn btn-primary' %>
</h1>
<div class="clearfix"></div>

<%= paginate @paged_images %>
<div id="masonry-container" class="transitions-enabled">
  <% @paged_images.each do |image| %>
  <div class="grid-item">
    <img src="<%= image.source %>"/>
  </div>
  <% end %>
</div>
<div class="clearfix"></div>