<h1>Images for <%= @brand.name %></h1>

<%= link_to 'Back', brands_path %>

<div id="masonry-container" class="transitions-enabled">
  <% @brand.images.each do |image| %>
  <div class="grid-item">
    <img src="<%= image.source %>"/>
  </div>
  <% end %>
</div>
<div class="clearfix"></div>
